.actualiza_tasa {
  font-size: 14pt; font-family: arial; text-decoration: none;
  color:antiquewhite;
  background: blue;
}

.actualiza_tasa:hover {
  background: green;
  color:antiquewhite;
}

.campo-tabla:hover{
   background-color: #677f8a ;
}

.campo-tabla > label{
  color:  #041677;
  align-items: center;
  padding: 0.08rem;
}

.BG_contratos{
  background: #1c3049 ;
}

#form_contratos  h3 {
  background:  #c3c1be ;
}

#titulo_contratos_pendientes h2 {
  background:  #928979 ;
}